<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- CalenderService Bean -->
    <bean id="calendarService" class="com.nt.service.CalendarService"/>

    <!-- MonthEndReminder Bean with Dependency Injection -->
    <bean id="MonthEndReminder" class="com.nt.reminder.MonthEndReminder">
        <property name="calendarService" ref="calendarService"/>
    </bean>

</beans>
